body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    
    margin-top: 80px;
    
}

h1{
    font-size: 50px;
    
}
.left-border{
    border-left: 4px solid salmon;
}
p{
    font-size: 20px;
}

.yellow{
    color: yellowgreen;
}
.half-width{
    width: 50%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-left: 90px;
   
}
.half-width img{
    width: 50%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato, salmon);
    padding: 10px 30px;
    color: white;
   font-weight: 800px;
   font-size: 18px;
   border-radius: 5px;
}

.head-mission{
    text-align: center;
    font-size: 60px;
}


.bar-item{
    
    margin-right: 5%;
    margin-left: 2%;
    padding-left: 10px;
    border-radius: 5%;
    
}
#mission-part{
    background-color: lightsteelblue;
    
}

#vission-part{
    background-color: lightsalmon;
    
}

#goal-part{
    background-color: lightpink;
    
}
.bar-item img{
    width: 40%;
}

.last-head{
  text-align: center;
}
footer{
    text-align: center;
    background-color:slategray;
    color:black;
    margin:0;
}

.half-width2{
    width: 50%;
    
}
.half-width2 img{
    width: 60%;
    margin-left: 20%;
    margin-right: 5px;

}

.half-width1{
    width: 50%;
    
    
}
.half-width1 img{
    width: 60%;
    margin-left: 5%;
    margin-right: 5px;

}